.Rproj.user
.Rhistory
.RData
.Ruserdata
publications (8HCCC54's conflicted copy 2025-10-27).Rmd
.DS_Store
publications (8HCCC54's conflicted copy 2025-10-27).html
search (8HCCC54's conflicted copy 2025-10-27).json
